<h1>Rejestracja</h1>
<div class="col-md-8 col-md-offset-2">
  <div *ngIf="errorFlag" id="error" class="alert alert-danger">
    <a (click)="hideErrorr()" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{errorMessage}}
  </div>

  <div *ngIf="successFlag"  class="alert alert-success alert-dismissable">
    <a (click)="hideSuccess()" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{successMessage}}
    <a [routerLink]="['/login']" class="btn btn-link">{{'Zaloguj'|translate}}</a>

  </div>
  <form #passwordChangeForm="ngForm" (ngSubmit)="onSubmit(passwordChangeForm.value)">

    <div class="form-group">
      <label for="email">{{'Email'|translate}}</label>
      <input maxlength="100"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text" #emailRef="ngModel" maxlength="100" required class="form-control" id="email" name="email" ngModel/>
      <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert-danger">
        <div [hidden] = "!emailRef.errors.required">
          {{'Podaj adres email!'|translate}}
        </div>
        <div [hidden] = "!emailRef.errors.pattern">
          {{'Podaj poprawny adres email!'|translate}}
        </div>
        <div [hidden]="!emailRef.errors.maxlength">
          {{'Email moze zawierac maksymalnie 100 znakow!'|translate}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="question">{{'Pytanie kontrolne'|translate}}</label>
      <select #questionRef="ngModel" required class="form-control" id="question" name="question" ngModel><option>Pytanie 1</option><option>Pytanie 2</option><option>Pytanie 3</option><option>Pytanie 4</option><option>Pytanie 5</option></select>
      <div *ngIf="questionRef.errors && (questionRef.dirty || questionRef.touched)" class="alert-danger">
        <div [hidden] = "!questionRef.errors.required">
          {{'Wybierz pytanie kontrolne!'|translate}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="answer">{{'Odpowiedz'|translate}}</label>
      <input type="text" maxlength="100" minlength="6" #answerRef="ngModel" maxlength="100" required class="form-control" id="answer" name="answer" ngModel/>
      <div *ngIf="answerRef.errors && (answerRef.dirty || answerRef.touched)" class="alert-danger">
        <div [hidden] = "!answerRef.errors.required">
          {{'Podaj odpowiedz na pytanie kontrolne!'|translate}}
        </div>
        <div [hidden] = "!answerRef.errors.minLength">
          {{'Odpowiedz musi zawierac co najmniej 6 znakow!'|translate}}
        </div>
        <div [hidden]="!answerRef.errors.maxlength">
          {{'Odpowiedz na pytanie kontrolne moze zawierac maksymalnie 100 znakow!'|translate}}
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="password">{{'Haslo'|translate}}</label>
      <input type="password" maxlength="100"  #passwordRef="ngModel" maxlength="100" required class="form-control" id="password" name="password" ngModel/>
      <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" class="alert-danger">
        <div [hidden] = "!passwordRef.errors.required">
          {{'Podaj haslo!'|translate}}
        </div>
        <div [hidden]="!passwordRef.errors.minLength">
          {{'Haslo musi zawierac minimum 6 znakow!'|translate}}
        </div>
        <div [hidden]="!passwordRef.errors.maxlength">
          {{'Haslo moze zawierac maksymalnie 100 znakow!'|translate}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">{{'Potwierdzenie hasla'|translate}}</label>
      <input minlength="6" maxlength="100"  type="password" #passwordConfirmRef="ngModel" maxlength="100" required class="form-control" id="confirmPassword" name="confirmPassword" ngModel/>
      <div *ngIf="passwordConfirmRef.errors && (passwordConfirmRef.dirty || passwordConfirmRef.touched)" class="alert-danger">
        <div [hidden] = "!passwordConfirmRef.errors.required">
          {{'Potwierdz swoje haslo!'|translate}}
        </div>
        <div [hidden]="!passwordConfirmRef.errors.minLength">
          {{'Haslo musi zawierac minimum 6 znakow!'|translate}}
        </div>
        <div [hidden]="!passwordConfirmRef.errors.maxlength">
          {{'Haslo moze zawierac maksymalnie 100 znakow!'|translate}}
        </div>
      </div>
    </div>


    <button [disabled]="!passwordChangeForm.form.valid" type="submit" class="btn btn-primary">{{'Zmien haslo'|translate}}</button>
    <a [routerLink]="['/login']" class="btn btn-link">{{'Zaloguj'|translate}}</a>
  </form>
</div>
