<h1>Rejestracja</h1>
<div class="col-md-8 col-md-offset-2">
  <div *ngIf="errorFlag" id="error" class="alert alert-danger">
    <a (click)="hideErrorr()" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{errorMessage}}
  </div>

  <div *ngIf="successFlag"  class="alert alert-success alert-dismissable">
    <a (click)="hideSuccess()" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{successMessage}}
    <a [routerLink]="['/login']" class="btn btn-link">Zaloguj się</a>

  </div>
  <form #passwordChangeForm="ngForm" (ngSubmit)="onSubmit(passwordChangeForm.value)">

    <div class="form-group">
      <label for="email">Email</label>
      <input maxlength="100"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text" #emailRef="ngModel" maxlength="100" required class="form-control" id="email" name="email" ngModel/>
      <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert-danger">
        <div [hidden] = "!emailRef.errors.required">
          Podaj adres email!
        </div>
        <div [hidden] = "!emailRef.errors.pattern">
          Podaj poprawny adres email!
        </div>
        <div [hidden]="!emailRef.errors.maxlength">
          Email może zawierać maksymalnie 100 znaków!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="question">Pytanie kontrolne</label>
      <select #questionRef="ngModel" required class="form-control" id="question" name="question" ngModel><option>Pytanie 1</option><option>Pytanie 2</option><option>Pytanie 3</option><option>Pytanie 4</option><option>Pytanie 5</option></select>
      <div *ngIf="questionRef.errors && (questionRef.dirty || questionRef.touched)" class="alert-danger">
        <div [hidden] = "!questionRef.errors.required">
          Wybierz pytanie kontrolne!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="answer">Odpowiedź</label>
      <input type="text" maxlength="100" minlength="6" #answerRef="ngModel" maxlength="100" required class="form-control" id="answer" name="answer" ngModel/>
      <div *ngIf="answerRef.errors && (answerRef.dirty || answerRef.touched)" class="alert-danger">
        <div [hidden] = "!answerRef.errors.required">
          Podaj odpowiedź na pytanie kontrolne!
        </div>
        <div [hidden] = "!answerRef.errors.minLength">
          Odpowiedź musi zawierać co najmniej 6 znaków!
        </div>
        <div [hidden]="!answerRef.errors.maxlength">
          Odpowiedź na pytanie kontrolne może zawierać maksymalnie 100 znaków!
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" maxlength="100"  #passwordRef="ngModel" maxlength="100" required class="form-control" id="password" name="password" ngModel/>
      <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" class="alert-danger">
        <div [hidden] = "!passwordRef.errors.required">
          Podaj hasło!
        </div>
        <div [hidden]="!passwordRef.errors.minLength">
          Hasło musi zawierać minimum 6 znaków!
        </div>
        <div [hidden]="!passwordRef.errors.maxlength">
          Hasło może zawierać maksymalnie 100 znaków!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Potwierdzenie hasła</label>
      <input minlength="6" maxlength="100"  type="password" #passwordConfirmRef="ngModel" maxlength="100" required class="form-control" id="confirmPassword" name="confirmPassword" ngModel/>
      <div *ngIf="passwordConfirmRef.errors && (passwordConfirmRef.dirty || passwordConfirmRef.touched)" class="alert-danger">
        <div [hidden] = "!passwordConfirmRef.errors.required">
          Potwierdź swoje hasło!
        </div>
        <div [hidden]="!passwordConfirmRef.errors.minLength">
          Hasło musi zawierać minimum 6 znaków!
        </div>
        <div [hidden]="!passwordConfirmRef.errors.maxlength">
          Hasło może zawierać maksymalnie 100 znaków!
        </div>
      </div>
    </div>


    <button [disabled]="!passwordChangeForm.form.valid" type="submit" class="btn btn-primary">Zmień hasło</button>
    <a [routerLink]="['/login']" class="btn btn-link">Zaloguj się</a>
  </form>
</div>
