<div id="facebookLogin">
  <h1>{{'Doswiadczenie'|translate}}</h1>

  <div *ngIf="flag">

    <table class="table">
      <thead>
      <tr>
        <th>{{'Pracodawca'|translate}}</th>
        <th>{{'Data'|translate}}</th>
        <th>{{'Zadania'|translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Efigence S.A.</td>
        <td>{{'sierpien 2016'|translate}}</td>
        <td>{{'Tworzenie aplikacji gieldowej w technologi Java Swing.'|translate}}</td>
      </tr>
      </tbody>
    </table>

  </div>

  <div *ngIf="!flag">
    <p>{{'Aby uzyskac dostep do tej strony zaloguj sie.'|translate}}</p>
    <p>
      <a [routerLink]="['/login']" class="btn btn-link">{{'Zaloguj sie'|translate}}</a>
      <a [routerLink]="['/register']" class="btn btn-link">{{'Rejestracja'|translate}}</a>
    </p>
  </div>
</div>
