<app-cookie-banner></app-cookie-banner>
<nav class="navbar navbar-inverse" id="nav-list">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand not-active" routerLink="/home">Piotr Janiszewski</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="navGuzik"><a class="guzikHide" routerLink="/aboutMe" routerLinkActive="active">{{'O mnie'|translate}}</a></li>
        <li class="navGuzik"><a class="guzikHide" routerLink="/experience" routerLinkActive="active">{{'Doswiadczenie'|translate}}</a></li>
        <li class="navGuzik"><a class="guzikHide" routerLink="/contact" routerLinkActive="active" >{{'Kontakt'|translate}}</a></li>

        <li class="dropdown navGuzik">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{'Zadania'|translate}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="guzikHide" style="cursor: pointer;" routerLink="/OX" routerLinkActive="active">{{'OX'|translate}}</a></li>
            <li><a class="guzikHide" style="cursor: pointer;" routerLink="/fblogin" routerLinkActive="active" onclick="init()">{{'facebook'|translate}}</a></li>
            <li><a class="guzikHide" style="cursor: pointer;" routerLink="/myAccount" routerLinkActive="active" >{{'Moje konto'|translate}}</a></li>
          </ul>
        </li>

        <li class="dropdown navGuzik">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{'Jezyk'|translate}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="guzikHide" style="cursor: pointer;" (click)="selectLang('pl')">Polski</a></li>
            <li><a class="guzikHide" style="cursor: pointer;" (click)="selectLang('en')">English</a></li>
            <li><a class="guzikHide" style="cursor: pointer;" (click)="selectLang('ru')">Русский</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="hidden-xs col-sm-2 sidenav"></div>
    <div class="col-sm-8 text-left">
      <!-- routing here -->
      <router-outlet></router-outlet>

    </div>
    <div class="hidden-xs col-sm-2 sidenav"></div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Piotr Janiszewski - Programowanie w internecie</p>
</footer>
