<div id="OX">
    <h1>{{'Kolko i krzyzyk'|translate}}</h1>
    <p style="padding:20px" id="wyswietlacz">{{'Gracz: X'|translate}}</p>
  <button style="padding-left:20px" class="btn btn-default btn-lg" onclick="newGame()">{{'Nowa gra'|translate}}</button>
  <div class="game">
        <div id="t1" class="pole" onclick="move(this,0,0)"></div>
        <div id="t2" class="pole" onclick="move(this,1,0)"></div>
        <div id="t3" class="pole" onclick="move(this,2,0)"></div>

        <div id="t4" class="pole" onclick="move(this,0,1)"></div>
        <div id="t5" class="pole" onclick="move(this,1,1)"></div>
        <div id="t6" class="pole" onclick="move(this,2,1)"></div>

        <div id="t7" class="pole" onclick="move(this,0,2)"></div>
        <div id="t8" class="pole" onclick="move(this,1,2)"></div>
        <div id="t9" class="pole" onclick="move(this,2,2)"></div>
    </div>
</div>
