.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: 600px
}

.sidenav {
    padding-top: 20px;
    background-color: #dddddd;
    height: 100%;
}

.not-active {
    cursor: default;
}

footer {
    background-color: #222;
    color: white;
}

.pole {
    height: 110px;
    width: 110px;
    border-style:solid;
    margin: 1px;
    float: left;
}
.game{
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 110px;
    width: 338px;
    height: 338px;
    margin: auto;
}
