<h1>Rejestracja</h1>
<div class="col-md-8 col-md-offset-2">
  <div *ngIf="errorFlag" id="error" class="alert alert-danger">
    <a (click)="hideErrorr()" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{errorMessage}}
  </div>

  <div *ngIf="successFlag"  class="alert alert-success alert-dismissable">
    <a (click)="hideSuccess()" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{successMessage}}
    <a [routerLink]="['/login']" class="btn btn-link">Zaloguj się</a>

  </div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">

    <div class="form-group">
      <label for="firstName">Imie</label>
      <input maxlength="100"  pattern="/^([a-z]{2,3} [A-ZŁŻ][a-ząęóżźćńłś]{2,})|([A-ZŁŻ][a-ząęóżźćńłś]{2,})(\-[A-ZŁŻ][a-ząęóżźćńłś]{2,})?$" type="text" #firstNameRef="ngModel" maxlength="100" required class="form-control" id="firstName" name="firstName" ngModel/>
      <div *ngIf="firstNameRef.errors && (firstNameRef.dirty || firstNameRef.touched)" class="alert-danger">
        <div [hidden] = "!firstNameRef.errors.required">
          Podaj imię!
        </div>
        <div [hidden] = "!firstNameRef.errors.pattern">
          Podaj poprawne imię!
        </div>
        <div [hidden]="!firstNameRef.errors.maxlength">
          Imie może zawierać maksymalnie 100 znaków!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Nazwisko</label>
      <input maxlength="100"  pattern="/^([a-z]{2,3} [A-ZŁŻ][a-ząęóżźćńłś]{2,})|([A-ZŁŻ][a-ząęóżźćńłś]{2,})(\-[A-ZŁŻ][a-ząęóżźćńłś]{2,})?$" type="text" #lastNameRef="ngModel" maxlength="100" required class="form-control" id="lastName" name="lastName" ngModel/>
      <div *ngIf="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched)" class="alert-danger">
        <div [hidden] = "!lastNameRef.errors.required">
          Podaj nazwisko!
        </div>
        <div [hidden] = "!lastNameRef.errors.pattern">
          Podaj poprawne nazwisko!
        </div>
        <div [hidden]="!lastNameRef.errors.maxlength">
          Nazwisko może zawierać maksymalnie 100 znaków!
        </div>
      </div>
    </div>

    <div class="form-group">
    <label for="email">Email</label>
    <input maxlength="100"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text" #emailRef="ngModel" maxlength="100" required class="form-control" id="email" name="email" ngModel/>
    <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert-danger">
      <div [hidden] = "!emailRef.errors.required">
        Podaj adres email!
      </div>
      <div [hidden] = "!emailRef.errors.pattern">
        Podaj poprawny adres email!
      </div>
      <div [hidden]="!emailRef.errors.maxlength">
        Email może zawierać maksymalnie 100 znaków!
      </div>
    </div>
  </div>

    <div class="form-group">
      <label for="country">Obywatelstwo</label>
      <select #countryRef="ngModel" required class="form-control" id="country" name="country" ngModel><option>Austria</option><option>Belgia</option><option>Bułgaria</option><option>Chorwacja</option><option>Cypr</option><option>Czechy</option><option>Dania</option><option>Estonia</option><option>Finlandia</option><option>Francja</option><option>Grecja</option><option>Hiszpania</option><option>Holandia</option><option>Irlandia</option><option>Litwa</option><option>Luksemburg</option><option>Łotwa</option><option>Malta</option><option>Niemcy</option><option>Polska</option><option>Portugalia</option><option>Rumunia</option><option>Słowacja</option><option>Słowenia</option><option>Szwecja</option><option>Węgry</option><option>Wielka Brytania</option><option>Włochy</option></select>
      <div *ngIf="countryRef.errors && (countryRef.dirty || countryRef.touched)" class="alert-danger">
        <div [hidden] = "!countryRef.errors.required">
          Podaj swoje obywatelstwo!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" maxlength="100"  #passwordRef="ngModel" maxlength="100" required class="form-control" id="password" name="password" ngModel/>
      <div *ngIf="countryRef.errors && (passwordRef.dirty || passwordRef.touched)" class="alert-danger">
        <div [hidden] = "!passwordRef.errors.required">
          Podaj hasło!
        </div>
        <div [hidden]="!passwordRef.errors.minLength">
          Hasło musi zawierać minimum 6 znaków!
        </div>
        <div [hidden]="!passwordRef.errors.maxlength">
          Hasło może zawierać maksymalnie 100 znaków!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Potwierdzenie hasła</label>
      <input minlength="6" maxlength="100"  type="password" #passwordConfirmRef="ngModel" maxlength="100" required class="form-control" id="confirmPassword" name="confirmPassword" ngModel/>
      <div *ngIf="passwordConfirmRef.errors && (passwordConfirmRef.dirty || passwordConfirmRef.touched)" class="alert-danger">
        <div [hidden] = "!passwordConfirmRef.errors.required">
          Potwierdź swoje hasło!
        </div>
        <div [hidden]="!passwordConfirmRef.errors.minLength">
          Hasło musi zawierać minimum 6 znaków!
        </div>
        <div [hidden]="!passwordConfirmRef.errors.maxlength">
          Hasło może zawierać maksymalnie 100 znaków!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="question">Pytanie kontrolne</label>
      <select #questionRef="ngModel" required class="form-control" id="question" name="question" ngModel><option>Pytanie 1</option><option>Pytanie 2</option><option>Pytanie 3</option><option>Pytanie 4</option><option>Pytanie 5</option></select>
      <div *ngIf="questionRef.errors && (questionRef.dirty || questionRef.touched)" class="alert-danger">
        <div [hidden] = "!questionRef.errors.required">
          Wybierz pytanie kontrolne!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="answer">Odpowiedź</label>
      <input type="text" maxlength="100" minlength="6" #answerRef="ngModel" maxlength="100" required class="form-control" id="answer" name="answer" ngModel/>
      <div *ngIf="answerRef.errors && (answerRef.dirty || answerRef.touched)" class="alert-danger">
        <div [hidden] = "!answerRef.errors.required">
          Podaj odpowiedź na pytanie kontrolne!
        </div>
        <div [hidden] = "!answerRef.errors.minLength">
          Odpowiedź musi zawierać co najmniej 6 znaków!
        </div>
        <div [hidden]="!answerRef.errors.maxlength">
          Odpowiedź na pytanie kontrolne może zawierać maksymalnie 100 znaków!
        </div>
      </div>
    </div>
    <button [disabled]="!registerForm.form.valid" type="submit" class="btn btn-primary">Zarejestruj się</button>
    <a [routerLink]="['/login']" class="btn btn-link">Zaloguj się</a>


  </form>
</div>
